@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-image: url(imagens/c21526a01598618d77e305bbd81227f2.png);
    background-repeat: repeat;
}

#name-in-top {
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
}

#DEV-color {
    color: blue;
}

#name-in-center {
    text-align: center;
    margin-top: 6em;
    font-family: "Noto Sans", sans-serif;
    font-size: 50px;
    color: white;
}

h2{
    color: aqua;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
}

#image-dev {
    width: 15em;
    margin-left: 27em;
    margin-top: -30em;
    border-radius: 60%;
    box-shadow: 0 0 25px #00c6ff;
}

#brief-description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 45em;
    text-align: center;
    margin-left: 19em;
    text-indent: 5em;
    font-size: 25px;
}

.github {
    width: 50px;
    margin-left: 32rem;
}

.linkedin {
    width: 50px;
    margin: 3px;
}

.instagram {
    width: 50px;
    margin: 3px
}